body {
    align: center;
    color: Black;
/*     font: 69% Arial; */
    font: 100% Arial; 
    margin: 5;
    padding: 0;
    background: #B3D7FF;
    background:  -moz-linear-gradient(top, #000080, #B3D7FF);
    background:  -webkit-gradient(linear, left top, left bottom, from(#000080), to(#B3D7FF));
}


/*div.all {
    width: 95%;
    margin: 5;
    padding: 5;
    align: center;
    background: #000080;
    background:  -moz-linear-gradient(top, #B3D7FF, #000080);
    background:  -webkit-gradient(linear, left top, left bottom, from(#B3D7FF), to(#000080));
}*/

/* ------------ banner -----------------*/

div.bannerbox {
/*     width: 95%; */
    align: center;
    text-align: center;
}

div.bannerbox {
/*     border-width: 10px; */
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    border-radius: 10px;
    border-color: rgba( 192, 192, 192, .90 );
    background-color: #FFFFFF;
/*     margin:5px 5px 5px 5px; */
    padding: 0px;
    margin: 5px;
}

div.bannerbox img{
    width: 100%;
    align: center;
}

/* --------------- main menue -------------------- */
div.mainmenue{
/*     width: 100%; */
    align: center;
    padding: 0px;
    margin: 0px;
}
/*div.mainmenue img{
    align: center;
}*/
div.line {
    background: black;
    padding: 2px;
    margin: 5px 5px 5px 5px;
}

div.mainmenue ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px 5px 0px 5px;
/*     background:#000000 */
}

/* -------- left -----------------*/


div.mainmenue li#tableft {
    display: inline-block;
    padding: 0 0 0 0 ;
    margin: 5px 0 5px 5px ;
    background:black;
/*    background:#373737;*/
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

div.mainmenue li#tableft_activ {
    display: inline-block;
    margin: 5px 0 5px 5px ;
    background: #c1c1c1;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background: linear-gradient( top, #fff, #c1c1c1);
    background: -webkit-linear-gradient( top, #fff, #c1c1c1);
    background: -moz-linear-gradient( top, #fff, #c1c1c1);
    background: -ms-linear-gradient( top, #fff, #c1c1c1);
}

/* ---------  middle -----------------*/

div.mainmenue li#tabmiddle {
    display: inline-block;
    padding: 0 0 0 0 ;
    background:#373737;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

div.mainmenue li#tabmiddle_activ {
    display: inline-block;
    background: #c1c1c1;
    background: linear-gradient( top, #fff, #c1c1c1);
    background: -webkit-linear-gradient( top, #fff, #c1c1c1);
    background: -moz-linear-gradient( top, #fff, #c1c1c1);
    background: -ms-linear-gradient( top, #fff, #c1c1c1);
}
/* ---------------- right ---------------- */

div.mainmenue li#tabright {
    display: inline-block;
    padding: 0 0 0 0 ;
    background:#373737;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

div.mainmenue li#tabright_activ {
    display: inline-block;
    padding-left: 0px;
    background: #c1c1c1;
    margin: 5px 0 5px 5px ;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background: linear-gradient( top, #fff, #c1c1c1);
    background: -webkit-linear-gradient( top, #fff, #c1c1c1);
    background: -moz-linear-gradient( top, #fff, #c1c1c1);
    background: -ms-linear-gradient( top, #fff, #c1c1c1);
}

div.mainmenue li a {
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 5px;
}

div.mainmenue li a span {
    display: block;
    margin: 0;
    padding: 0px;
}

/*div.mainmenue li#activ span {
    display: block;
    margin: 0;
    padding: 15px;
}*/


/* ----- application box ----------------*/

div.appbox {
/*     width: 95%; */
/*     border-width: 10px; */
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 5px 5px 5px;
}


div.footer {/*
    width: 100%;*/
    align: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
/*    color: #000080;
    background-color: #c1c1c1;
    border-color: #000080;*/
    color:#fff;
    background: #c1c1c1;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
    
}

div.footer li a {
    color:#fff;
    text-decoration: none;
}