body {
    align: center;
    color: Black;
/*     font: 69% Arial; */
    font: 100% Arial; 
    margin: 5;
    padding: 0;
    background: #B3D7FF;
    background:  -moz-linear-gradient(top, #000080, #B3D7FF);
    background:  -webkit-gradient(linear, left top, left bottom, from(#000080), to(#B3D7FF));
}
body p {
    text-align: justify
}

/* ------------ banner -----------------*/

div.bannerbox {
/*     width: 95%; */
    align: center;
    text-align: center;
}

div.bannerbox {
/*     border-width: 10px; */
    border-radius: 10px;
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    border-color: rgba( 192, 192, 192, .90 );
    background-color: #FFFFFF;
/*     margin:5px 5px 5px 5px; */
    padding: 0px;
    margin: 15px 5px 5px 5px;
}

div.bannerbox img{
    width: 100%;
    align: center;
}

/* ----------- line ---------------------*/
div.line {
/*     background: black; */
    background: #c1c1c1;
    padding: 2px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
/* --------------- main menue -------------------- */
div.mainmenue{
/*     width: 100%; */
/*     align: center; */
    text-align: center;
    padding: 0px;
    margin: 5px;
/*    border-radius: 10px;
    border-style: solid;
    border-color: black;*/
/*    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    border-color: rgba( 192, 192, 192, .90 );*/
/*    background-color: #FFFFFF;*/
}

div.mainmenue ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
/*     margin: 0px 5px 0px 5px; */
/*     background:#000000 */
}

/* -------- left -----------------*/


div.mainmenue li#tableft {
    display: inline-block;
    padding: 0 0 0 0 ;
    margin:  0px  ;
/*     margin: 5px 0 5px 5px ; */
    background:black;
/*    background:#373737;*/
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

div.mainmenue li#tableft_activ {
    display: inline-block;
    margin: 0px ;
    background: #c1c1c1;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background: linear-gradient( top, #fff, #c1c1c1);
    background: -webkit-linear-gradient( top, #fff, #c1c1c1);
    background: -moz-linear-gradient( top, #fff, #c1c1c1);
    background: -ms-linear-gradient( top, #fff, #c1c1c1);
}

/* ---------  middle -----------------*/

div.mainmenue li#tabmiddle {
    display: inline-block;
    padding: 0 0 0 0 ;
    background:#373737;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

div.mainmenue li#tabmiddle_activ {
    display: inline-block;
    background: #c1c1c1;
    background: linear-gradient( top, #fff, #c1c1c1);
    background: -webkit-linear-gradient( top, #fff, #c1c1c1);
    background: -moz-linear-gradient( top, #fff, #c1c1c1);
    background: -ms-linear-gradient( top, #fff, #c1c1c1);
}
/* ---------------- right ---------------- */

div.mainmenue li#tabright {
    display: inline-block;
    padding: 0 0 0 0 ;
    background:#373737;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

div.mainmenue li#tabright_activ {
    display: inline-block;
    padding-left: 0px;
    background: #c1c1c1;
    margin: 0px ;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background: linear-gradient( top, #fff, #c1c1c1);
    background: -webkit-linear-gradient( top, #fff, #c1c1c1);
    background: -moz-linear-gradient( top, #fff, #c1c1c1);
    background: -ms-linear-gradient( top, #fff, #c1c1c1);
}

div.mainmenue li a {
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 5px;
}

div.mainmenue li a span {
    display: block;
    margin: 0;
    padding: 0px;
}

/*div.mainmenue li#activ span {
    display: block;
    margin: 0;
    padding: 15px;
}*/


/* ----- application box ----------------*/

div.appbox {
/*     width: 95%; */
/*     border-width: 10px; */
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    border-radius: 10px;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}

div.appbox table { 
    width:100%;
    border-spacing:0px;
    radius: 5px;     
    background-color:  #FFFFFF;         
    border-top:1px solid #686868;    
    border-left:1px solid #686868;
    border-right:1px solid #686868;
    border-bottom:1px solid #686868;
}

div.appbox th { 
    background-color: #C3C4FF;
}

div.appbox tr { 
    background-color: #FFFFFF;
}
div.appbox tr#odd {
    background-color: #F5F5F5;
}
div.appbox tr#yes {
    background-color: #7EFFB4;
}
div.appbox tr#no {
    background-color: #FFBDBC;
}
div.appbox tr#void {
    background-color: #DCDCDC;
}
div.appbox td { 
    vertical-align: top; 
    text-align: left;
    padding: 10px;
/*    margin: 0px 0px 0px 0px;*/
    margin: 10px;
}
div.appbox form{
    align: center;
    text-align: center;
}
div.appbox button {
    align: center;
    text-align: center;
/*    padding: 10px;
    margin: 10px;*/
}

div.appbox td.tabpoints {
    align: right;
    text-align: right;
}

div.appbox div.points {
    align: right;
    text-align: right;
    float:right;
    
    color:#fff;
    padding-right: 15px;
    margin-right: -15px;
    background:#373737;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

div.appbox td.tabpoints-weighting {
    align: left;
    text-align: left;
}

div.appbox div.points-weighting {
    text-align: left;
    text-align: left;
    float:left;
    
/*     color:#fff; 
    color:#C3C4FF;*/


    background:#373737;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
}

/* -------- Footer --------------------------------*/
div.footer {/*
    width: 100%;*/
    align: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
/*    color: #000080;
    background-color: #c1c1c1;
    border-color: #000080;*/
    color:#fff;
    background: #373737;
    background: linear-gradient( top, #373737, #A0A0A0);
    background: -webkit-linear-gradient( top, #373737, #A0A0A0);
    background: -moz-linear-gradient( top, #373737, #A0A0A0);
    background: -ms-linear-gradient( top, #373737, #A0A0A0);
    
}

div.footer li a {
    color:#fff;
    text-decoration: none;
    border-style: solid;
    border-color: #c1c1c1;
    border-color: rgba( 192, 192, 192, .90 );
    border-radius: 10px;
}